In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('MAC_adresy.xlsx')

In [3]:
df

  Uživatel  Zařízení      MAC adresa      Switch   Port status
0    Jirka  notebook  0013.3b12.6826  10.0.0.111  Fa0/1    NaN
1    Jirka        PC  0013.3b12.6820  10.0.0.111  Fa0/3   fake
2    Jarda  notebook  0013.3b12.6829  10.0.0.111  Fa0/2    NaN
3    Jarda        PC  0013.3b12.6821  10.0.0.111  Fa0/4   fake
4    Petr         PC  0013.3b12.6831  10.0.0.111  Fa0/5   fake
5    Ondra        PC  5254.000f.8f72  10.0.0.111  Gi0/3    NaN

In [4]:
df.loc[df['MAC adresa'] == '0013.3b12.6820']

  Uživatel Zařízení      MAC adresa      Switch   Port status
1    Jirka       PC  0013.3b12.6820  10.0.0.111  Fa0/3   fake